.document-pending-modal-header {
  text-align: center;
}

.document-pending-modal-title {
  color: #E3175E;
}

.document-pending-modal-content {
  max-width: 600px;
  height: 320px;
  justify-content: space-between;
}

.document-pending-modal-description {
  text-align: center;
}

.document-pending-modal-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}